/*font-family: 'Righteous', cursive;
font-family: 'Roboto', sans-serif; */

* {
    box-sizing: border-box;
}

body {
    background-color: #E5E5E5;
    font-family: 'Roboto', sans-serif;
}

/* Cabeçalho do Site */
header {
    background-color: #CF2B2B;
    padding: 18px 0;
    box-shadow: 0px 5px rgba(109, 108, 108, 0.25);
}

.logo {
    margin-left: 21px;
}

header h1 {
    font-family: 'Righteous', cursive;
    font-size: 44px;
    color: #FFFFFF;
}

header p {
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF;
}

/* Itens */
.itens{
    margin: 31px 0 0 19px;
}

.itens h2 {
    font-family:'Righteous', cursive;
    font-size: 26px;
    color: #333333;
}

.item{
    margin-top: 35px;
    width: 171px;
    background-color: #FFFFFF;
    border: 14px solid #FFFFFF;
    border-radius: 9px;
}

.item h3{
    font-size: 16px;
    font-weight: 700;
    color: #333333;
    padding: 8px 0;
}

.item p{
    font-size: 15px;
    font-weight: 300;
    color: #A6A6A6 ;
    padding-bottom: 8px;
}

.item span{
    font-size: 16px;
    font-weight: 400;
    color: #000000;
}

.escolhas{
    display: flex;
}
